body {
  margin: 0;
  font-family: "courier new", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(60deg, #ab068a 0%, #04acd6 100%)
}

.Particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
  z-index: -1;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
